.wrapper {
    display: grid;
    height: 100%;
    grid-template-areas: 
    'navigation'
    '. . main . .'
    'footer';
}

.main {
    grid-area: main;
    grid-column-start: 3;
    grid-column-end: auto;
    padding: 45px;
    min-height: 85vh;
}

.footer {
    display: flex;
    justify-content: center;
    grid-area: footer;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}